*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color:inherit;
}

li{ 
    list-style-type: none;
}

img{ width:100%; }

body{
    /* 글꼴과 관련한 내용 */
}